<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>사용자 목록 관리</title>
    <link rel="stylesheet" href="user-list-style.css">
</head>

<body>
    <div id="app">
        <h2>사용자 목록 관리</h2>
        <!-- 사용자 추가 폼 -->
        <div>
            <input type="text" placeholder="이름 입력 하셈" v-model.trim="newName">
            <span class="error" v-show="newName.length === 0">이름을 입력하셈</span>
            <br>
            <input type="text" placeholder="번호 입력 하셈" v-model.trim="newPhone">
            <span class="error" v-show="newPhone.length === 0">전화번호을 입력하셈</span>
            <br>
            <select name="" id="" v-model="newRegion">
                <option disabled selected value="">지역 선택</option>
                <option value="서울">서울</option>
                <option value="서울">경기</option>
                <option value="서울">부산</option>
                <option value="서울">제주</option>
            </select>
            <span class="error" v-show="newRegion == '' ">지역 선택하셈</span>
            <br>
            <!-- 추가 버튼 클릭 시 addUser 메서드 호출함 -->
            <button @click="addUser">사용자 추가</button>
        </div>

        <!-- filtering -->
        <div class="controls">
            <select name="" id="" v-model="selectRegion">
                <option value="">모두 보기</option>
                <option value="서울">서울</option>
                <option value="경기">경기</option>
                <option value="부산">부산</option>
                <option value="제주">제주</option>
            </select>
        </div>

        <!-- 사용자 목록 테이블 -->
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>번호 </th>
                        <th>이름</th>
                        <th>전화번호</th>
                        <th>지역</th>
                        <th>삭제</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(user, index) in users" :key="user.id" class="user-item"
                        v-show="selectRegion === ''||user.region === selectRegion">

                        <td v-text="index+1"></td>
                        <td v-text="user.name"></td>
                        <td v-text="user.phone"></td>
                        <td v-text="user.region"></td>
                        <td><button @click="deleteUser(index)">삭제</button></td>
                    </tr>
                </tbody>
            </table>

            <!-- users에 등록된 사용자가 없을 경우? -->
            <p v-if="users.length === 0">등록된 사용자가 없습니다.</p>
            <!-- 지역 필터링 결과가 없을 경우? -->
             <p
                v-if="users.length >0 &&
                !users.some(user => selectRegion === '' || user.region === selectRegion)
                "
             >지역에 사용자가 없어용</p>
        </div>


    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        const model = {
            // 사용자가 저장될 배열
            users: [
                {
                    id: 1,
                    name: '짱구',
                    phone: '010-1111-2222',
                    region: '서울'
                },
                {
                    id: 2,
                    name: '상일',
                    phone: '010-2222-2222',
                    region: '경기'
                },
                {
                    id: 3,
                    name: '하나',
                    phone: '010-3333-2222',
                    region: '부산'
                },
            ],

            // 새 사용자 추가 시 입력된 값을 저장할 속성
            newName: '',
            newPhone: '',
            newRegion: '',

            // 지역 필터링 속성
            selectRegion: '',

        };

        const vm = Vue.createApp({
            name: 'App',
            data() {
                return model;
            },

            // Vue 인스턴스 내에서 사용할 메서드를 작성하는 속성
            methods: {
                addUser() {  // <- 요서 ES6 표기법임 

                    //  표에다 추가 (요거 좀 복잡)
                    if (this.newName && this.newPhone && this.newRegion) {

                        const user = {
                            id: Date.now(),
                            name: this.newName,
                            phone: this.newPhone,
                            region: this.newRegion
                        };

                        // users 배열에 마지막 요소로 추가하는 push 작업 
                        this.users.push(user);

                        this.newName = '';
                        this.newPhone = '';
                        this.newRegion = '';
                    }
                },
                // 삭제 버튼 클릭 동작
                deleteUser(index) {
                    console.log(index);
                    this.users.splice(index, 1);
                },
            }
        }).mount('#app');
    </script>
</body>

</html>